<mat-toolbar color="primary" class="fixed-header">
  <a routerLink="/contacts" class="header-app-name">Contacts</a>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="12px" class="navigation-items">
      <li *ngIf="authService.isAuthenticated">
        <a routerLink="/contacts/add-contact">Add Contact</a>
      </li>
      <li *ngIf="authService.isAuthenticated">
        <a routerLink="/contacts">Contacts</a>
      </li>
      <li *ngIf="!authService.isAuthenticated">
        <a routerLink="/login">Log in</a>
      </li>
      <li *ngIf="!authService.isAuthenticated">
        <a routerLink="/signup">Sign up</a>
      </li>
      <li *ngIf="authService.isAuthenticated">
        <a (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.gt-xs>
    <ul fxLayout class="navigation-items">
      <li *ngIf="authService.isAuthenticated">
        <a mat-icon-button routerLink="/contacts/add-contact" matTooltip="Add Contact">
          <mat-icon>add</mat-icon>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated">
        <a mat-icon-button routerLink="/contacts" matTooltip="Contacts">
          <mat-icon>contact_mail</mat-icon>
        </a>
      </li>
      <li *ngIf="!authService.isAuthenticated">
        <a mat-icon-button routerLink="/login" matTooltip="Log in">
          <mat-icon>flight_land</mat-icon>
        </a>
      </li>
      <li *ngIf="!authService.isAuthenticated">
        <a mat-icon-button routerLink="/signup" matTooltip="Sign up">
          <mat-icon>how_to_reg</mat-icon>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated">
        <button (click)="logout()" mat-icon-button matTooltip="Logout">
          <mat-icon>flight_takeoff</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
